@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    display:flex;
    justify-content: flex-start;
}
.btn{
    font-family: 'Roboto', sans-serif;
    color:white;
    font-weight: 900;
    background-color:#287FF0;
    border: 2px solid white;
    width: 50px;
    border-radius: 4px;
    cursor: pointer;
}
